{% extends "base.html" %}

{% block maincontent %}

<body class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-banner text-center">
                    <h1><i class="fa fa-gears"></i> MonitorizePy</h1>
                </div>
                <div class="portlet portlet-green">
                    <div class="portlet-heading login-heading">
                        <div class="portlet-title">
                            <h4><strong>Login to MonitorizePy!</strong>
                            </h4>
                        </div>
                        <!-- begin NEW USER FUNCTION DISABLED
                        <div class="portlet-widgets">
                            <button class="btn btn-white btn-xs"><i class="fa fa-plus-circle"></i> New User</button>
                        </div>
                        end NEW USER FUNCTION DISABLED -->
                        <div class="clearfix"></div>

                    </div>
                    <div class="portlet-body">
                        {% if url %}
                        <div class="alert alert-success text-center">
                            <strong>Success! </strong> The E-Mail is on it's way!
                        </div>
                        {% endif %}
                        <form accept-charset="UTF-8" role="form" action= "/login" method="POST">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" value="{{ username }}">
                                </div>
                                {% if failed %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Password" name="password" type="password" autofocus="">
                                    <span class="help-block"><i class='fa fa-warning'></i> Invalid Password!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" {% if url %} autofocus="" {% endif %}>
                                </div>
                                {% endif %}
                                <!--    begin REMEMBER FUNCTION DISABLED
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                        end REMEMBER FUNCTION DISABLED -->
                                <br>
                                <button type="submit" class="btn btn-lg btn-green btn-block">Login</button>
                                <!--<a href="index.html" class="btn btn-lg btn-green btn-block">Sign In</a>-->
                            </fieldset>
                            <br>
                            {% if url %}
                            <p class="small">
                                <a href="{{ url }}">Temp URL</a>
                            </p>
                            {% endif %}
                            <p class="small">
                                <a href="/forgot">Forgot your password?</a>
                            </p>
                            <p class="small">
                                <a href="/signup">Not Registered? Signup!</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}