{% extends "base.html" %}

{% block maincontent %}

<body class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-banner text-center">
                    <h1><i class="fa fa-gears"></i> MonitorizePy</h1>
                </div>
                <div class="portlet portlet-green">
                    <div class="portlet-heading login-heading">
                        <div class="portlet-title">
                            <h4><strong>Signup to MonitorizePy!</strong>
                            </h4>
                        </div>
                        <!-- begin NEW USER FUNCTION DISABLED
                        <div class="portlet-widgets">
                            <button class="btn btn-white btn-xs"><i class="fa fa-plus-circle"></i> New User</button>
                        </div>
                        end NEW USER FUNCTION DISABLED -->
                        <div class="clearfix"></div>

                    </div>
                    <div class="portlet-body">
                        <form accept-charset="UTF-8" role="form" action= "/signup" method="POST">
                            <fieldset>
                                {% if error_username %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Username" name="username" type="text" value="">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_username }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="text" value="{{ username }}">
                                </div>
                                {% endif %}
                                {% if error_password %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Password" name="password" type="password">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_password }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password">
                                </div>
                                {% endif %}
                                {% if error_verify %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Verify" name="verify" type="password">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_verify }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Verify" name="verify" type="password">
                                </div>
                                {% endif %}
                                {% if error_email %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="E-Mail (optional)" name="email" type="text" value="">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_email }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-Mail (optional)" name="email" type="text" value="{{ email }}">
                                </div>
                                {% endif %}
                                {% if error_last_name %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Last Name" name="lastname" type="text" value="">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_last_name }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last Name" name="lastname" type="text" value="{{ last_name }}">
                                </div>
                                {% endif %}
                                {% if error_name %}
                                <div class="form-group has-error">
                                    <input class="form-control" placeholder="Name" name="name" type="text" value="">
                                    <span class="help-block"><i class='fa fa-warning'></i> {{ error_name }}!</span>
                                </div>
                                {% else %}
                                <div class="form-group">
                                    <input class="form-control" placeholder="Name" name="name" type="text" value="{{ name }}">
                                </div>
                                {% endif %}
                                <!--    begin REMEMBER FUNCTION DISABLED
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                        end REMEMBER FUNCTION DISABLED -->
                                <br>
                                <button type="submit" class="btn btn-lg btn-green btn-block">Register</button>
                                <!--<a href="index.html" class="btn btn-lg btn-green btn-block">Sign In</a>-->
                            </fieldset>
                            <br>
                            <p class="small">
                                <a href="/forgot">Forgot your password?</a>
                            </p>
                            <p class="small">
                                <a href="/login">Already Registered? Login Here!</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}